<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />    
   
    <name>GoingOut</name>


    <description>
        The dream application for youngsters
    </description>

    <author href="worcester.ac.uk" email="c.bowers@worc.ac.uk">
        WBS Computing
    </author>

    <feature name="http://api.phonegap.com/1.0/geolocation"/> 

    <preference name="orientation"                value="portrait" /> 

    <feature name="SplashScreen">
          <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
	
	<access origin="*"/>
</widget>
